*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    color:#000;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
.category{
    width: 100%;
}
.category_header{
    width: 100%;
    text-align: center;
    margin:1rem auto 2rem;
    .logo_name{
        font-size: 1.5rem;
    }
    .header{
        font-size: 2rem;
    }
}
.category_item{
    .image{
        width: 150px;
        height: 150px;
        margin:1rem auto;
    }
    .content{
        text-align: center;
        padding:.5rem;
        .header{
            font-size: 1.5rem;
            font-weight: 800;
        }
        .subcontent{
            font-size: 1rem;
            margin:7px auto;
        }
    }
}